:root {
    --bg-color: #294537;
    --text-color: #fce2c6;
    --accent-color: #e8caa7;
    --font-main: 'Arial Rounded MT Bold', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font-main);
    font-size: 16px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

.mt10{
    margin-top: 20px;
}